html {
    background-color: #000000;
}

body {
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    display: inline-block;
    font-size: 4em;
    color: rgb(180, 180, 180);
    padding: 10px 40px;
    border-radius: 100px;
    background-color: rgba(200, 30, 255, 0.25);
  }
  
   
  .customColor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .wheel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    padding: 50px;
    margin-top: 100px;
    border-radius: 100px; /* Fully rounded corners */
    transition: background-color 0.1s ease; /* Smooth transition for background color */
    background-color: #f0f0f0;
  }

  .animations {
    margin-top: 20px;
  }
  
  .buttons {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    color: rgb(20, 20, 20);
    background-color: #88b6ffdc;
    margin: 10px;
    font-size: 40px;
    border: none;
    transition: background-color 1s ease; /* Smooth transition for button background color */
  }
  
  button:hover {
    background-color: #40404050;
  }

  
  